{% extends "_layouts/cp" %}
{% set title = "Poptin"|t('plugin-handle') %}

{% requireLogin %}
{% do view.registerAssetBundle("poptin\\poptin\\PoptinBundle") %}

{# Setting main properties on page load #}
{% set admin_email = craft.app.projectConfig.get.email.fromEmail %}
{% set client_id = craft.app.projectConfig.get.plugins.poptin.client_id %}
{% set user_id = craft.app.projectConfig.get.plugins.poptin.user_id %}
{% set token = craft.app.projectConfig.get.plugins.poptin.token %}
{% set poptin_url = craft.app.projectConfig.get.plugins.poptin.poptin_url %}

{% block content %}
    <!-- Main wrapper -->
    <div class="poptin-overlay"></div>

    <div class="wrap">
        <div class="poptinWrap">
            <!-- Logo -->
            <div class="poptinLogo"><img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/poptinlogo.png', true) }}"/></div>

            <div class="poptinLogged"  {% if client_id %} style="display:block" {% else %} style="display:none" {% endif %}>
                <!-- Here will render after login/create account view -->
                <div class="poptinLoggedBg"
                    style="background:url({{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/loggedinbg.png', true)}}) no-repeat">
                    <form id="logmein_form" action="" method="POST">
                        <input type="hidden" name="action" value="poptin_logmein" class="poptin_input"/>
                        <input type="hidden" name="logmein" value="true" class="poptin_input"/>
                        <input type="hidden" name="security" class="poptin_input"
                            value="{{ craft.app.tokens.createToken('poptin-fe-login') }}"/>
                    </form>
                    <h2 class="loggedintitle">{{ "You're all set!" | t('ppbase') }}</h2>
                    <div class="tinyborder"></div>
                    <span class="everythinglooks"><strong>Poptin is installed on your website</strong><br>Click on the button below to<br>create and manage your poptins</span>
                    <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/vicon.png', true) }}"/>
                    <a href="/poptin/redirect" target="_blank" id="goToDashboard" class="ppcontrolpanel goto_dashboard_button_pp_updatable">{{ "Go to dashboard"|t('ppbase') }}</a>
                    <a href="#logout" class="pplogout">{{ "Deactivate Poptin" | t('ppbase') }}</a>
                </div>

                <div class="clearfix"></div>
            </div>


            <div class="ppaccountmanager" {% if not client_id %} style="display:block" {% else %} style="display:none" {% endif %}>
                <div class="popotinRegister">
                    <!-- Here will render register view -->
                    <div class="accountWrapper"
                        style="background:url({{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/accountboxsignup.png', true) }}) no-repeat">
                        <div class="poptinWrapInner">
                            <div class="topAccountBar sign_up_for_free_wrapper">
                                <span class="ppRegister active">{{ "Sign up for free" | t('ppbase') }}</span>
                                <span class="ppSeparator"></span>
                                <a href="#" class="ppLogin">{{ "Already have an account" | t('ppbase') }}</a>
                                <div class="clearfix"></div>
                            </div>
                            <form id="registration_form" class="ppFormRegister ppForm" action="" target=""
                                method="POST">

                                <input class="poptin_input" type="text" id="email" name="email" placeholder="Enter your email"
                                    value="{{ admin_email }}"
                                    placeholder="example@poptin.com"/>
                                <input type="hidden" name="action" class="poptin_input" value="poptin_register"/>
                                <input type="hidden" name="register" class="poptin_input" value="true"/>
                                <input type="hidden" name="security" class="poptin_input"
                                    value="{{ craft.app.tokens.createToken('poptin-fe-login') }}"/>
                                <input type="hidden" name="{{ craft.app.config.general.csrfTokenName }}" class="poptin_input"
                                    value="{{ craft.app.request.csrfToken }}"/>
                                <div class="bottomForm">
                                    <input class="ppSubmit pp_signup_btn poptin_signup_button" type="submit"
                                        value="{{ 'Sign up' | t('ppbase') }}"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="popotinLogin" style="display:none">
                    <!-- Here will render login view -->
                    <div class="accountWrapper"
                        style="background:url({{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/accountbox.png', true) }}) no-repeat">
                        <div class="poptinWrapInner">
                            <div class="topAccountBar poptin_login_wrapper">
                                <span class="ppLogin active">{{ "Enter your user ID" | t('ppbase') }}</span><span
                                        class="ppSeparator"></span><a href="#"
                                                                    class="ppRegister">{{ "Signup for free" | t('ppbase') }}</a>
                            </div>
                            <form id="map_poptin_id_form" class="ppFormLogin ppForm">
                                <input type="text" value="" placeholder="Enter your User ID" class="poptin_input"/>
                                <div class="bottomForm remove_top_margin">
                                    <a href="#" data-toggle="modal" data-target="#whereIsMyId"
                                    class="wheremyid">{{ "Where is my user ID" | t('ppbase') }}</a>
                                    <input class="ppSubmit poptin_submit_button" type="submit" value="{{ 'Connect' | t('ppbase') }}"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="poptinContent">
                    <h2 class="poptinTitle">{{ "Create your first Poptin with ease" | t('ppbase') }}</h2>
                    <div class="tinyborder"></div>
                    <div class="youtubeVideoContainer"
                        style="background:url({{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/youtubeBackground.png', true) }}) no-repeat">
                        <div class="youtubeVideo">
                            <iframe width="905" height="509"
                                    src="https://www.youtube.com/embed/uvTw_mmA32Q?rel=0&amp;showinfo=0" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="poptinContent whyChoose">
                    <h2 class="poptinTitle">{{ "Here's what Poptin can do for you" | t('ppbase') }}</h2>
                    <div class="tinyborder"></div>
                    <div class="innerContent">
                        <div class="box ">
                            <div class="boxIcon img-box">
                                <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/heart.png', true) }}"/>
                                <img class="hover-img" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/heart-hover.png', true) }}"/>
                            </div>
                            <div class="box-content">
                                <div class="boxTitle boxEnv">
                                    {{ "Increase visitors’ engagement" | t('ppbase') }}
                                </div>
                                <p>{{ "With Poptin you can conduct surveys, get feedback and offer visitors another content item they will be interested in." | t('ppbase') }}</p>
                            </div>
                        </div>
                        <div class="box ">
                            <div class="boxIcon">
                                <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/envelope.png', true) }}"/>
                                <img class="hover-img" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/envelope-hover.png', true) }}"/>
                            </div>
                            <div class="box-content">
                                <div class="boxTitle boxLeads">{{ "Get more email subscribers" | t('ppbase') }}</div>
                                <p>{{ "Improve subscription rates up to several times using poptins displayed at the right moment." | t('ppbase') }}</p>
                            </div>
                        </div>
                        <div class="box ">
                            <div class="boxIcon">
                                <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/leads-icon_new.png', true) }}"/>
                                <img class="hover-img" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/leads-icon-hover_new.png', true) }}"/>
                            </div>
                            <div class="box-content">
                                <div class="boxTitle boxCart">{{ "Capture more leads and sales" | t('ppbase') }}</div>
                                <p>{{ "Serve visitors relevant offers based on their unique behavior and substantially improve conversion rates." | t('ppbase') }}</p>
                            </div>
                        </div>
                        <div class="box ">
                            <div class="boxIcon">
                                <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/cart-icon_new.png', true) }}"/>
                                <img class="hover-img" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/car-hover-icon_new.png', true) }}"/>
                            </div>
                            <div class="box-content">
                                <div class="boxTitle boxHeart">
                                    {{ "Reduce shopping cart abandonment" | t('ppbase') }}
                                </div>
                                <p>{{ "A potential customer is planning to ditch their shopping cart? Pop them an offer they can’t refuse and increase the number." | t('ppbase') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="poptinContent clients">
                    <h2 class="poptinTitle">{{ "Digital Marketers ♥ Poptin" | t('ppbase') }}</h2>
                    <div class="tinyborder"></div>
                    <div class="innerContent">
                        <div class="boxclient client1">
                            <div class="boxclientHead"
                                style="background:url({{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/client1bg.png', true) }}) no-repeat">
                                <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/profile1.png', true) }}"/>
                            </div>
                            <div class="clientboxtext">
                                <span class="clientName">{{ "Michael Kamleitner" | t('ppbase') }}</span>
                                <span class="clientCompany">{{ "CEO, Walls.io" | t('ppbase') }}</span>
                                {{ "Getting started with poptin was a breeze – we've implemented the widget and connected it to our newsletter within minutes. Our conversion rate skyrocketed!" | t('ppbase') }}
                            </div>
                        </div>
                        <div class="boxclient client2">
                            <div class="boxclientHead"
                                style="background:url({{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/client2bg.png', true) }}) no-repeat">
                                <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/profile2.png', true) }}"/>
                            </div>
                            <div class="clientboxtext">
                                <span class="clientName">{{ "Deepak Shukla" | t('ppbase') }}</span>
                                <span class="clientCompany">{{ "CEO, Purr Traffic" | t('ppbase') }}</span>
                                {{ "Been v.impressed with Poptin and the team behind it so far. Great responses times from support. The roadmap looks great. I highly recommend." | t('ppbase') }}
                            </div>
                        </div>
                        <div class="boxclient client3">
                            <div class="boxclientHead"
                                style="background:url({{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/client3bg.png', true) }}) no-repeat">
                                <img src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/profile3.png', true) }}"/>
                            </div>
                            <div class="clientboxtext">
                                <span class="clientName">{{ "Michael Voiskoun" | t('ppbase') }}</span>
                                <span class="clientCompany">{{ "Marketing manager, Engie" | t('ppbase') }}</span>
                                {{ "It's super easy to use, doesn't require any prior coding skill. The team at Poptin is really helpful, providing great support, and adding always more features!" | t('ppbase') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <div class="poptinContent footer">
                {% js %}
                    jQuery(function ($) {
                        $(".parrot").hover(
                            function () {
                                $(this).attr("src", "{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/parrot.gif', true) }}>");
                            },
                            function () {
                                $(this).attr("src", "{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/parrot.png', true) }}");
                            }
                        );
                    });
                {% endjs %}
                <img class="parrot" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/parrot.png', true) }}"/>
                <span class="poptinlove">{{ "Visit us at " | t('ppbase') }} <a
                            href="https://www.poptin.com/?utm_source=craftcms"
                            target="_blank">poptin.com</a></span>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="whereIsMyId" class="modal fade" role="dialog" style="margin-top: 110px;direction: ltr;">
        <div class="modal-dialog poptin-lightbox">
            <div class="poptin-lightbox-header">Where is my user ID?</div>
            <div class="poptin-where-my-id-wrapper">
                <div class="poptin-where-my-id-01">
                    <div class="poptin-where-my-id">
                        <img class="where-my-id-3-images" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/where-is-my-id-01.png', true) }}"/>
                    </div>
                    <div class="poptin-where-my-id-smalltext">
                        <b>1.</b>&nbsp;Go to your dashboard, in the top bar click on "Installation Code"
                    </div>
                </div>
                <div class="poptin-where-my-id-02">
                    <div class="poptin-where-my-id">
                        <img class="where-my-id-3-images" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/where-is-my-id-02.png', true) }}"/>
                    </div>
                    <div class="poptin-where-my-id-smalltext">
                        <b>2.</b>&nbsp;Click on Wordpress
                    </div>
                </div>
                <div class="poptin-where-my-id-03">
                    <div class="poptin-where-my-id">
                        <img class="where-my-id-3-images" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/where-is-my-id-03.png', true) }}"/>
                    </div>
                    <div class="poptin-where-my-id-smalltext">
                        <b>3.</b>&nbsp;Copy your user ID
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="poptin-lightbox-button-wrapper text-align-right">
                <div class="poptin-lightbox-button" data-dismiss="modal">Close</div>
            </div>
        </div>
    </div>

    <!-- BYE BYE Modal -->
    <div id="byebyeModal" class="modal fade" role="dialog" style="margin-top: 110px;direction: ltr;">
        <div class="modal-dialog poptin-lightbox-general">
            <img class="poptin-parrot-byebye-image" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/parrot-bye-bye.png', true) }}"/>
            <div class="poptin-lightbox-header-general">Bye Bye</div>
            <div class="poptin-lightbox-textcontent-general">
                Poptin snippet has been
                removed. See you around.
            </div>
            <div class="clearfix"></div>
            <div class="poptin-lightbox-button-wrapper text-align-center">
                <div class="poptin-lightbox-button" data-dismiss="modal">Close</div>
            </div>
        </div>
    </div>

    <!-- Just Making Sure Modal -->
    <div id="makingsure" class="modal fade" role="dialog" style="margin-top: 110px;direction: ltr;">
        <div class="modal-dialog poptin-lightbox-general">
            <img class="poptin-parrot-makingsure-image"
                src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/parrot-making-sure.png', true) }}"/>
            <div class="poptin-lightbox-header-general">Just making sure</div>
            <div class="poptin-lightbox-textcontent-general">
                Are you sure you want to<br/> remove Poptin?
            </div>
            <div class="clearfix"></div>
            <div class="poptin-lightbox-button-wrapper text-align-center">
                <div class="poptin-lightbox-button deactivate-poptin-confirm-yes">Yes</div>
                <div class="poptin-lightbox-atag" data-dismiss="modal">I'll stay</div>
            </div>
        </div>
    </div>

    <!-- Just Making Sure Modal -->
    <div id="lookfamiliar" class="modal fade" role="dialog" style="margin-top: 110px;direction: ltr;">
        <div class="modal-dialog poptin-lightbox-general">
            <img class="poptin-parrot-familiar-image"
                src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/parrot-familiar.png', true) }}"/>
            <div class="poptin-lightbox-header-general">You look familiar</div>
            <div class="poptin-lightbox-textcontent-general">
                You already have a Poptin<br/> account with this email address.
            </div>
            <div class="clearfix"></div>
            <div class="poptin-lightbox-button-wrapper text-align-center">
                <a class="poptin-lightbox-button login-from-lb" target="_blank" href="{{ poptin_url }}">Login</a>
                <div class="poptin-lightbox-atag" data-dismiss="modal">Cancel</div>
            </div>
        </div>
    </div>

    <!-- Wrong Email ID Modal -->
    <div id="oopsiewrongemailid" class="modal fade" role="dialog" style="margin-top: 110px;direction: ltr;">
        <div class="modal-dialog poptin-lightbox-general">
            <img class="poptin-parrot-oopsie-image" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/new-poptin-parrot.png', true) }}"/>
            <div class="poptin-lightbox-header-general">Oopsie... wrong Email</div>
            <div class="poptin-lightbox-textcontent-general">
                Please enter a valid Email Address.
            </div>
            <div class="clearfix"></div>
            <div class="poptin-lightbox-button-wrapper text-align-center">
                <div class="poptin-lightbox-button" data-dismiss="modal">Try again</div>
            </div>
        </div>
    </div>

    <!-- Just Making Sure Modal -->
    <div id="oopsiewrongid" class="modal fade" role="dialog" style="margin-top: 110px;direction: ltr;">
        <div class="modal-dialog poptin-lightbox-general">
            <img class="poptin-parrot-oopsie-image" src="{{ craft.app.assetManager.publishedUrl('@poptin/poptin/resources/img/new-poptin-parrot.png', true) }}"/>
            <div class="poptin-lightbox-header-general">Oopsie... wrong ID</div>
            <div class="poptin-lightbox-textcontent-general">
                <a href="#" class="poptin-lightbox-atag where-is-my-id-inside-lb">Where is my user ID?</a>
            </div>
            <div class="clearfix"></div>
            <div class="poptin-lightbox-button-wrapper text-align-center">
                <div class="poptin-lightbox-button" data-dismiss="modal">Try again</div>
            </div>
        </div>
    </div>

    <form id="poptinConfigForm" action="/poptin/config">
        {{ csrfInput() }}
        <input type="hidden" name="client_id" value="{{ client_id }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="token" value="{{ token }}">
    </form>

    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName }}";
        window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";

        window.poptin = {
            config: {
                admin_email: "{{ admin_email }}",
                client_id: "{{ client_id }}",
                user_id: "{{ user_id }}",
                token: "{{ token }}",
                poptin_url: "{{ poptin_url }}"
            },
            methods: {
                updateCraftConfig: () => {
                    jQuery.ajax({
                        url: '/poptin/config',
                        dataType: "JSON",
                        method: "POST",
                        data: jQuery("#poptinConfigForm").serialize(),
                        success: function (data) {
                            console.log(data);
                        }
                    });
                }
            }
        };
    </script>
{% endblock %}